source ~/.vimrc

""" Basic Settings ---------------------- {{{
" Map leader to space
let mapleader=" "

set clipboard+=ideaput
set showmode
set so=5
incsearch
set nu

""" Idea specific settings ------------------
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep
" }}}

""" Plugins  --------------------------------{{{
" https://github.com/JetBrains/ideavim/wiki/Emulated-plugins
" 快速移动至「关键词」位置
set easymotion
" S
set surround
set multiple-cursors
" gcc
set commentary
" 处理 arguments, Additional text objects: aa, ia
set argtextobj
set exchange
" cie equals to ggVGc
set textobj-entire
set ReplaceWithRegister
" 高亮复制的内容
set highlightedyank

""" Plugin settings -------------------------
let g:argtextobj_pairs="[:],(:),<:>"
map <leader>f <Plug>(easymotion-s)

map <C-N>  <A-N>
map <C-P>  <A-P>
map <C-X>  <A-X>

" }}}

""" Mappings -------------------------------- {{{
map <c-j> gT
map <c-k> gt

map <leader>d <Action>(Debug)
map <leader>c <Action>(Stop)
map <leader>z <Action>(ToggleDistractionFreeMode)

map <leader>s <Action>(SurroundWith)
map <leader>a <Action>(Annotate)
map <leader>h <Action>(Vcs.ShowTabbedFileHistory)

map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>o <Action>(FileStructurePopup)

map <leader>m <Action>(ExtractMethod)

vnoremap <leader>u <Action>(EditorSelectWord)
map <leader>r <Action>(RenameElement)
" }}}
